#container {
    background-color: grey;
}

#images a {
    position:relative;   
    display: block;
    width:200px;
    background-color:white;
    margin-bottom:20px;
    margin-left:20px;
    box-shadow: 10px 10px 15px black;
}

#images img {
    position:relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    width: 180px;
    padding-bottom:70px;
}
    