/*
h1: #424242
h2: #424242
Text-color: #787878
Background-aside: #E6CE6E
Background-main: #968748
skrivet av: #ADADAD
*/


body {
    background-color:#E6CE6E;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding:20px;
    background-color:white;
    border-radius: 3px;
}

#header {
    width: 98.1%;
    background-color: #D1D1D1;
    border: 10px solid #BABABA;
    margin-bottom: 10px;
    display: inline-block;
    border-top-left-radius: 40px;
    border-top-right-radius: 120px;

}

    #header h1, #header h2 {
        margin-left: 40px;
        color: #424242;
        
    }
    
    #header h1 {
        font-size: 3em;
        font-family: "Lucida Console", "Helvetica", "Arial";
    }
    #header h2 {
        font-size: 1em;
        font-family: "Lucida Console", "Helvetica", "Arial";
    }
    
#navigation {
    position: relative;
    float: left;
    width:20%;
    background-color: #D1D1D1;
    border: 10px solid #BABABA;
    border-bottom-left-radius: 40px;
}

    #navigation ul{
        list-style-type: none;
    }

    a:link {
        color: #424242;
        text-decoration: none;
    }
    
    a:visited {
        color: #424242;
        text-decoration: none;
    }
    
    #navigation div:hover {
        background-color: #ADADAD;
    }
    
    #navigation .active div{
        background-color: #ADADAD;
    }
    
    #navigation a {
        font-size: 1em;
        font-family: "Helvetica", "Arial";
    }
    
    .linkDiv {
        background-color: white;
        width: 140px;
        height: 25px;
        border: 1px solid #BABABA;
        margin-top: 2px;
        margin-left: -15px;
    }
    
    .linkDiv p {
        margin-top: 5px;
        margin-left: 10px;
    }

#content { 
    position: relative;
    width: 75%;
    display: inline-block;
}

    #content div { 
        position: relative;
        margin-bottom:10px;
        background-color: #D1D1D1;
        width: 698px;
        border: 1px solid #BABABA;
        margin-left: 10px;
        padding-left:40px;
        padding-top: 10px;
        
        
    }
    
    #content h3 {
        font-size: 1.7em;
        color: #424242;
        font-family: "Helvetica", "Arial";
    }

    #content p, #content ul, #content ol, #content dl, #content a {
        color: #787878;
        font-family: "Minion pro", "sant-serif", "arial", sans-serif;
        line-height: 25px;
    }
    
    #content a{
        color: Black;
        text-decoration: underline;
    }
    
    lable, legend{
        color: #787878;
        font-family: "Minion pro", "sant-serif", "arial", sans-serif;
    }


#footer {
    position:relative;
    float: left;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    display: block;
    background-color: black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

    #footer p {
        position: relative;
        float: right;
        margin-right: 30px;
    }

.skrivetav {
    color: #ADADAD;
}

    #content img {
        width: 200px;
        margin-left: 30px;
    }

dl, ul, ol{
    color: #787878;
}

.skrivetav {
    font-style: italic;
    text-align: right;
    padding-right: 40px;
}

video{
    border: 1px solid #ADADAD;
    border-radius: 10px;
}

#footer p {
    color: white;
}

    
