/*
h1: #424242
h2: #424242
Text-color: #787878
Background-aside: #E6CE6E
Background-main: #968748
skrivet av: #ADADAD
*/

p {
    color: #787878;
}

h1, h3 {
    color: #424242;
}

body {
    background-color:#E6CE6E;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding:20px;
    background-color:white;
    border-radius: 3px;
}

#header {
    width: 100%;
    background-color: #D1D1D1;
    border: 1px solid #BABABA;
    margin-bottom: 10px;
    display: inline-block;

}

    #header h1 {
        margin-left: 40px;
    }

#navigation {
    position: relative;
    float: left;
    width:20%;
    background-color: #D1D1D1;
    border: 1px solid #BABABA;
}

    #navigation ul{
        list-style-type: none;
    }

    #navigation a:link {
        color: #424242;
        text-decoration: none;
    }
    
    #navigation a:visited {
        color: #424242;
        text-decoration: none;
    }
    
    #navigation div:hover {
        background-color: #ADADAD;
    }
    
    #navigation .active div{
        background-color: #ADADAD;
    }
    
    .linkDiv {
        background-color: white;
        width: 100px;
        border: 1px solid #BABABA;
        margin: 1px;
    }

#content { 
    position: relative;
    width: 79%;
    display: inline-block;
}

    #content div { 
        position: relative;
        margin-bottom:10px;
        background-color: #D1D1D1;
        width: 716px;
        border: 1px solid #BABABA;
        margin-left: 10px;
        padding:20px;
    }

#footer {
    position:relative;
    float: left;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    display: block;
    background-color: black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

    #footer p {
        position: relative;
        float: right;
        margin-right: 30px;
    }

.skrivetav {
    color: #ADADAD;
}

    #content img {
        width: 200px;
        margin-left: 30px;
    }